### Calculando o Risco de um Ativo

In [2]:
# Importando as bibliotecas:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

In [7]:
# Obtendo os dados:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2012-1-1', end='2022-9-1')['Adj Close']
    # start='2007-1-1' - inicio da serie temporal
    # end='2022-9-1' - fim da serie temporal

sec_data.tail()

                    PG      BEI.DE
Date
2022-08-26  142.289993  103.550003
2022-08-29  141.690002  103.400002
2022-08-30  140.179993  101.250000
2022-08-31  137.940002  100.599998
2022-09-01  139.639999   99.599998

In [8]:
# Calculando o Retornos Logaritmos Diarios:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns.tail()

                  PG    BEI.DE
Date
2022-08-26 -0.023683 -0.007217
2022-08-29 -0.004226 -0.001450
2022-08-30 -0.010714 -0.021012
2022-08-31 -0.016108 -0.006440
2022-09-01  0.012249 -0.009990

Risco da P&G:

In [15]:
# Retorno Medio Diario
sec_returns['PG'].mean()

0.0003935342692330954

In [16]:
# Retorno Medio Anual
sec_returns['PG'].mean() * 250

0.09838356730827386

In [17]:
# Desvio-padrão Diario
sec_returns['PG'].std()

0.01127521592879682

In [21]:
# Desvio-padrão Anual
sec_returns['PG'].std() * 250 ** 0.5

0.17827681722604424

Risco da Beiersdorf:

In [22]:
# Retorno Medio Diario
sec_returns['BEI.DE'].mean()

0.0003252524940703804

In [23]:
# Retorno Medio Anual
sec_returns['BEI.DE'].mean() * 250

0.0813131235175951

In [24]:
# Desvio-padrão Diario
sec_returns['BEI.DE'].std()

0.012615414392567989

In [25]:
# Desvio-padrão Anual
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.19946721553692198

Colocando Tudo na mesma Tabela:

In [27]:
# Retorno Medio Anual
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.098384
BEI.DE    0.081313
dtype: float64

In [28]:
# Desvio-Padrão Anual
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.178277
BEI.DE    0.199467
dtype: float64