### Importando e Organizando Dados no Python

Parte 1 - Extraindo Dados de API da Web

In [2]:
# Geração de "Series" com Pandas e Numpy com 5 valores:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.random(5), name="Column 01")
ser

0    0.243510
1    0.685534
2    0.447482
3    0.764581
4    0.996640
Name: Column 01, dtype: float64

In [3]:
# Consultando um dado do "Series", como de um dicionário:
ser[2]

0.44748207019546893

In [4]:
# Extraindo dados de API com o Pandas Data Reader - pacote Data:

from pandas_datareader import data as wb # importa o pacote data como wb

PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')
# wb.DataReader - função que extrai os dados da API
# 'PG' - código do ativo na bolsa de valores
# data_source = 'yahoo' - fonte dos dados (API)
# start='1995-1-1' - indicação da data de inicio da serie temporal dos dados a serem extraidos, nesse caso, a partir de 01/01/1995
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,7.875522
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,7.812389
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.701916
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,7.717694
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.686132
...,...,...,...,...,...,...
2022-08-29,142.690002,141.020004,141.300003,141.690002,5272100.0,141.690002
2022-08-30,142.410004,139.910004,142.410004,140.179993,5203700.0,140.179993
2022-08-31,140.880005,137.860001,140.399994,137.940002,8406900.0,137.940002
2022-09-01,139.759995,136.759995,137.830002,139.639999,7446500.0,139.639999
2022-09-02,141.149994,136.550003,140.419998,137.160004,7076500.0,137.160004

Parte 2