### Importando e Organizando Dados no Python

Parte 1 - Extraindo Dados de API da Web

In [1]:
# Geração de "Series" com Pandas e Numpy com 5 valores:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.random(5), name="Column 01")
ser

0    0.745013
1    0.303024
2    0.863590
3    0.128239
4    0.554990
Name: Column 01, dtype: float64

In [2]:
# Consultando um dado do "Series", como de um dicionário:
ser[2]

0.8635899126321579

In [3]:
# Extraindo dados de API com o Pandas Data Reader - pacote Data:

from pandas_datareader import data as wb # importa o pacote data como wb

PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')
# wb.DataReader - função que extrai os dados da API
# 'PG' - código do ativo na bolsa de valores
# data_source = 'yahoo' - fonte dos dados (API)
# start='1995-1-1' - indicação da data de inicio da serie temporal dos dados a serem extraidos, nesse caso, a partir de 01/01/1995
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,7.875519
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,7.812391
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,7.701913
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,7.717699
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,7.686136
...,...,...,...,...,...,...
2022-09-01,139.759995,136.759995,137.830002,139.639999,7446500.0,139.639999
2022-09-02,141.149994,136.550003,140.419998,137.160004,7076500.0,137.160004
2022-09-06,137.940002,135.289993,135.880005,135.630005,8217200.0,135.630005
2022-09-07,137.759995,136.020004,136.029999,137.679993,6609400.0,137.679993
2022-09-08,138.493301,136.059998,137.009995,137.774994,5892572.0,137.774994

Parte 2

In [4]:
# Resumo sobre os Dados Carregados:
PG.info() # se houver a mesma quantidade de dados em todas as colunas, significa que não há dados faltantes

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6971 entries, 1995-01-03 to 2022-09-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6971 non-null   float64
 1   Low        6971 non-null   float64
 2   Open       6971 non-null   float64
 3   Close      6971 non-null   float64
 4   Volume     6971 non-null   float64
 5   Adj Close  6971 non-null   float64
dtypes: float64(6)
memory usage: 381.2 KB

In [5]:
# Exibir as primeiras 5 linhas:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875519
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812391
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701913
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717699
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686136

In [6]:
# Exibir as últimas 5 linhas:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-09-01,139.759995,136.759995,137.830002,139.639999,7446500.0,139.639999
2022-09-02,141.149994,136.550003,140.419998,137.160004,7076500.0,137.160004
2022-09-06,137.940002,135.289993,135.880005,135.630005,8217200.0,135.630005
2022-09-07,137.759995,136.020004,136.029999,137.679993,6609400.0,137.679993
2022-09-08,138.493301,136.059998,137.009995,137.774994,5892572.0,137.774994

In [7]:
# Exibir quantidade específica de linhas iniciais - 20 linhas:
PG.head(20)

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   7.875519
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   7.812391
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.701913
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   7.717699
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.686136
1995-01-10  15.43750  15.18750  15.28125  15.40625  4364000.0   7.780828
1995-01-11  15.59375  15.37500  15.59375  15.37500  3738400.0   7.765042
1995-01-12  15.53125  15.31250  15.37500  15.53125  3307600.0   7.843958
1995-01-13  15.84375  15.53125  15.59375  15.62500  3992800.0   7.936015
1995-01-16  15.96875  15.75000  15.90625  15.75000  3677200.0   7.999499
1995-01-17  15.81250  15.65625  15.71875  15.81250  2437600.0   8.031247
1995-01-18  15.75000  15.43750  15.68750  15.46875  3535200.0   7.856653
1995-01-19  15.40625  15.34375  15.34375  15.40625  2491200.0   7.824911
1995-01-20  15.40625  15.25000  15.40625  15.34375  5130800.0   7.793165
1995-01-23  15.50000  15.18750  15.18750  15.50000  3147200.0   7.872525
1995-01-24  15.53125  15.37500  15.50000  15.46875  2016400.0   7.856653
1995-01-25  15.78125  15.43750  15.50000  15.68750  2802400.0   7.967756
1995-01-26  15.84375  15.68750  15.71875  15.75000  3124000.0   7.999499
1995-01-27  16.25000  15.81250  15.81250  16.18750  6247200.0   8.221711
1995-01-30  16.56250  16.09375  16.12500  16.43750  5226400.0   8.348687

In [8]:
# Exibir quantidade específica de linhas finais - 20 linhas:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-08-11,147.289993,144.929993,146.809998,145.259995,5954300.0,145.259995
2022-08-12,146.729996,144.960007,145.910004,146.669998,5038700.0,146.669998
2022-08-15,148.770004,146.750000,146.869995,148.559998,6008000.0,148.559998
2022-08-16,150.600006,148.360001,148.360001,149.929993,7093000.0,149.929993
2022-08-17,149.750000,148.880005,149.100006,149.240005,4834600.0,149.240005
2022-08-18,149.990005,148.520004,148.869995,149.770004,3829000.0,149.770004
2022-08-19,150.630005,148.720001,149.210007,149.729996,6502500.0,149.729996
2022-08-22,150.130005,148.839996,148.979996,149.330002,6380700.0,149.330002
2022-08-23,148.440002,145.830002,148.429993,146.449997,5268200.0,146.449997
2022-08-24,147.259995,145.119995,146.610001,145.820007,5903200.0,145.820007
2022-08-25,145.779999,144.490005,145.229996,145.699997,5097600.0,145.699997
2022-08-26,146.529999,142.020004,146.000000,142.289993,6086600.0,142.289993
2022-08-29,142.690002,141.020004,141.300003,141.690002,5272100.0,141.690002
2022-08-30,142.410004,139.910004,142.410004,140.179993,5203700.0,140.179993
2022-08-31,140.880005,137.860001,140.399994,137.940002,8406900.0,137.940002
2022-09-01,139.759995,136.759995,137.830002,139.639999,7446500.0,139.639999
2022-09-02,141.149994,136.550003,140.419998,137.160004,7076500.0,137.160004
2022-09-06,137.940002,135.289993,135.880005,135.630005,8217200.0,135.630005
2022-09-07,137.759995,136.020004,136.029999,137.679993,6609400.0,137.679993
2022-09-08,138.493301,136.059998,137.009995,137.774994,5892572.0,137.774994

In [9]:
# Obter uma coluna específica de dados para várias ações:

# Indica os símbolos das ações/tickers:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']

# Criar a estrutura que receberá os dados:
new_data = pd.DataFrame() # dataframe do pandas

# Loop que carregará a coluna de Fechamento Ajustado para cada ação em um período específico:
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [10]:
# Visualizar os primeiros 5 registros do dataframe gerado:
new_data.head()

                  PG      MSFT         T         F         GE
Date
1995-01-03  7.875523  2.359438  2.732934  4.264751  32.808640
1995-01-04  7.812394  2.376590  2.725983  4.379500  32.808640
1995-01-05  7.701916  2.337389  2.768574  4.341250  32.889038
1995-01-06  7.717694  2.376590  2.768574  4.341250  32.728210
1995-01-09  7.686128  2.361889  2.760056  4.417748  32.406551

In [11]:
# Obtendo dados do Morningstar:
F = wb.DataReader('F', data_source='yahoo', start='2017-1-1')

Parte 3

In [12]:
# Importando o Quandl:
import quandl

In [13]:
# Carregando os dados do PIB com o quandl:
mydata_01 = quandl.get('FRED/GDP')

In [14]:
# Exibir primeiros dados do PIB:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [15]:
# Exibir últimos dados do PIB:
mydata_01.tail()

                Value
Date
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

In [16]:
# Convertendo o DataFrame em arquivo .csv com Pandas:
import pandas as pd
mydata_01.to_csv('example.csv')

In [17]:
# Carregando um Arquivo .csv em um DataFrame:
mydata_02 = pd.read_csv('example.csv')

In [18]:
# Dados iniciais do DataFrame carregado:
mydata_02.head()

         Date    Value
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [19]:
# Dados finais do DataFrame carregado:
mydata_02.tail()

           Date      Value
295  2020-10-01  21477.597
296  2021-01-01  22038.226
297  2021-04-01  22740.959
298  2021-07-01  23202.344
299  2021-10-01  23992.355

In [20]:
# Exportar para o formato do Excel:
mydata_02.to_excel('example_02.xlsx')

In [21]:
# Carregar um arquivo no formato do Excel:
mydata_03 = pd.read_excel('example_02.xlsx')

In [22]:
# Primeiros dados do arquivo carregado:
mydata_03.head()

   Unnamed: 0        Date    Value
0           0  1947-01-01  243.164
1           1  1947-04-01  245.968
2           2  1947-07-01  249.585
3           3  1947-10-01  259.745
4           4  1948-01-01  265.742

In [23]:
# Últimos dados do arquivo carregado:
mydata_03.tail()

     Unnamed: 0        Date      Value
295         295  2020-10-01  21477.597
296         296  2021-01-01  22038.226
297         297  2021-04-01  22740.959
298         298  2021-07-01  23202.344
299         299  2021-10-01  23992.355

In [24]:
# Carregar os dados indicando a coluna da Data como Indice dos Dados:
mydata_04 = pd.read_csv('example.csv', index_col='Date')

In [25]:
# Primeiros dados:
mydata_04.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742

In [26]:
# Últimos dados:
mydata_04.tail()

                Value
Date
2020-10-01  21477.597
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  23992.355

In [27]:
# Alterar os índices de um DataFrame já carregado:
mydata_03.set_index('Date')

            Unnamed: 0      Value
Date
1947-01-01           0    243.164
1947-04-01           1    245.968
1947-07-01           2    249.585
1947-10-01           3    259.745
1948-01-01           4    265.742
...                ...        ...
2020-10-01         295  21477.597
2021-01-01         296  22038.226
2021-04-01         297  22740.959
2021-07-01         298  23202.344
2021-10-01         299  23992.355

[300 rows x 2 columns]

In [28]:
mydata_03.head()

   Unnamed: 0        Date    Value
0           0  1947-01-01  243.164
1           1  1947-04-01  245.968
2           2  1947-07-01  249.585
3           3  1947-10-01  259.745
4           4  1948-01-01  265.742

In [29]:
# Efetivar a alteração dos indices reatribuindo a variavel do dataframe:
mydata_03 = mydata_03.set_index('Date')

In [30]:
mydata_03.head()

            Unnamed: 0    Value
Date
1947-01-01           0  243.164
1947-04-01           1  245.968
1947-07-01           2  249.585
1947-10-01           3  259.745
1948-01-01           4  265.742