## Variáveis e Tipos de Dados

### Variáveis

In [2]:
x = 5 # atribui o valor 5 à variável x
x # imprime o valor da variável x

5

In [3]:
y = 8 # atribui o valor 8 à variável y
Y # imprime o valor da variável Y - dará erro, pois o Python diferencia letras maiúsculas de minúsculas: y != Y

NameError: name 'Y' is not defined

In [4]:
print(y) # a função print() também imprime o valor de uma variável

8

In [5]:
# Atribuindo n valores a n variáveis em uma mesma linha de código:
x, y = 1, 2 # o número de variáveis deverá ser igual ao número de valores
print(x)
print(y)

1
2

### Números e Valores Booleanos

In [1]:
x1 = 5 # atribui o valor 5 (inteiro) à variável x1
type(x1) # a função type() retornará o tipo de dado do conteúdo da variável x1, que deverá ser inteiro (int)

int

In [4]:
# A função type() pode ser aplicada diretamente a um valor para verificar seu tipo de dado:
a = type(-6) # int
b = type('Bruno') # str(string)
print(a)
print(b)

<class 'int'>
<class 'str'>

In [5]:
x2 = 4.75 # atribui o valor 4.75 (decimal) à variável x2
type(x2) # a função type() retornará o tipo de dado do conteúdo da variável x2, que deverá ser decimal (float)

float

In [6]:
print(type(x1))
print(type(x2))
x1 = float(x1) # a função float() transforma o valor de uma variável para o tipo decimal
x2 = int(x2) # a função int() transforma o valor de uma variável para o tipo inteiro
print(type(x1))
print(type(x2))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>

In [7]:
x3 = True # devemos digitar True ou False com letra maiúscula para o Python reconhecer o valor como booleano
type(x3) # deverá retorna o valor da variável x3 como bool - boolean

bool

### Strings

In [8]:
'Bruno' # strings são valores de texto compostos por uma sequência de caracteres
# devem vir entre "" ou '' para não serem considerados variáveis indefinidas e não gerarem erro

'Bruno'

In [9]:
y = 10
print(y + ' dollars') # gerará erro, pois não podemos colocar variáveis de tipos diferentes na mesma experessão

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
# Antes, podemos converter o valor de y para o tipo string com a função str():
print(str(y) + ' dollars')

10 dollars

In [ ]:
'I'm fine' 
# gerará erro por causa do apóstrofe no meio do texto

In [ ]:
"I'm fine" # devemos envolver o texto todo com "" no caso de o conteúdo ter apóstrofe '

In [12]:
'Press "Enter"' # o inverso também vale: deveremos envolver todo o texto com aspas simples no caso de haver aspas duplas no conteúdo

'Press "Enter"'

In [14]:
'Red' 'car' # resultado: 'Redcar'
'Red ' 'car' # resultado: 'Red car' - deixar um espaço após a primeira string
'Red ' + 'car' # resultado: 'Red car' - terá o mesmo efeito

'Red car'

In [15]:
print('Red ' 'car') # resultado: Red car - sem aspas
print('Red', 'car') # resultado: Red car - o python se encarrega de colocar um espaço entre os valores

Red car
Red car

In [16]:
3, 5, 6.9, 7.0, 'car' # o python converterá o conjunto de valores em uma tupla na impressão

(3, 5, 6.9, 7.0, 'car')